version: 2.1

orbs:
  go: circleci/go@1.7.0

jobs:
  test:
    docker:
      - image: cimg/go:1.21
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run:
          name: Download Dependencies
          command: go mod download
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod
      - run:
          name: Run Tests
          command: go test -v -race -coverprofile=coverage.out ./...
      - store_test_results:
          path: /tmp/test-results

  lint:
    docker:
      - image: cimg/go:1.21
    steps:
      - checkout
      - run:
          name: Run Linter
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin
            golangci-lint run ./...

  build:
    docker:
      - image: cimg/go:1.21
    steps:
      - checkout
      - run:
          name: Build Application
          command: go build -o app ./cmd/main.go
      - persist_to_workspace:
          root: .
          paths:
            - app

  docker:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: .
      - run:
          name: Build Docker Image
          command: |
            docker build -t myapp:${CIRCLE_SHA1} .
            docker tag myapp:${CIRCLE_SHA1} myapp:latest
      - run:
          name: Push to Docker Hub
          command: |
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
            docker push myapp:${CIRCLE_SHA1}
            docker push myapp:latest

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - test
      - lint
      - build:
          requires:
            - test
            - lint
      - docker:
          requires:
            - build
          filters:
            branches:
              only: main